/* Footer*/
.myfooterc {
	   margin: 20px;
	   left: 0;
	   bottom: 0;
	   width: 100%;
	   background-color: #DCDCDC;
	   color: black;
	   text-align: center;
	   padding-top:2%;
	   padding-bottom: 1%;
	  
}


.navbar-custom-color{
	background-color: #DCDCDC;
	
}


.container{	
	width: 60%;
	margin-top: 20px;
}

.logoimagen{
	width: 25%;
	height: auto;
	margin-left: 15%;	
}

.recipes-container{
	width: 80%;
	margin-left: 10%;
	margin-top: 15px;
}
.login-container{
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}
.img-login{
	width: 50%;
	margin-bottom:7%;
}